.startpage {
  position: relative;
  .page-title {
    margin-top: 120px;
    font-size: 48px;
    .amount-decimal {
      font-size: 24px;
      letter-spacing: 2px;
      margin-left: 2px;
    }
  }
}
