.startpage {
  position: relative;
  .page-content {
    .page-title {
      margin-top: 120px;
      font-size: 48px;
      margin-bottom: 40px;
      .amount-decimal {
        font-size: 24px;
        letter-spacing: 2px;
        margin-left: 2px;
      }
    }
    .buttons {
      text-align: center;
      button {
        background-color: var(--primary);
        color: var(--background);
        border: none;
        border-radius: 1000px;
        width: 60px;
        height: 60px;
      }
      p {
        font-weight: 500;
        margin-top: 15px;
      }
    }
  }
}
