.kid {
  text-align: center;

  .balance {
    margin-bottom: 60px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;

    .amount-integer {
      font-size: 38px;
    }
  
    .amount-decimal {
      font-size: 19px;
      letter-spacing: 2px;
      margin-left: 2px;
    }
  }

  .transfer {
    margin-bottom: 60px;

    button {
      background-color: var(--primary);
      color: var(--background);
      border: none;
      border-radius: 1000px;
      width: 50px;
      height: 50px;
      padding: 0;
    }
  
    p {
      font-weight: 500;
      margin-top: 15px;
    }
  }

  .sort-section {
    button {
      padding: 10px;
      width: 100px;
      outline: none;
      background-color: var(--background);
      border: 1px solid var(--primary);
      color: var(--primary);
      // font-weight: 500;

      &.active {
        background-color: var(--primary);
        color: var(--background);
      }

      &.left {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-right: none;
      }

      &.middle {
        border-radius: 0;
      }

      &.right {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-left: none;
      }
    }
  }
}