.register-child-container {
  form {
    .input-field {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: none;
      border-bottom: 1px solid var(--textColor);
      background-color: transparent;
      color: var(--textColor);
      &:focus {
        border: none;
        border-bottom: 2px solid var(--primary);
        &::placeholder {
          opacity: 0.7;
          color: var(--primary);
        }
      }
      &::placeholder {
        opacity: 0.5;
        color: var(--textColor);
      }
    }
    .submit-btn {
      margin: 0 auto;
      width: 100%;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      background-color: var(--primary);
      color: var(--background);
      margin-top: 30px;
    }
  }
  .info-text {
    margin-bottom: 30px;
    opacity: 0.7;
  }

  .back-btn {
    margin: 0 auto;
    width: 100%;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
    margin-top: 15px;
  }
}
