.transaction-form {
  .input-component {
    position: relative;

    svg {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      color: var(--inputIcon);
    }

    input, textarea {
      padding: 8.5px;
      width: 100%;
      border: 1px solid var(--inputBorder);
      border-radius: 4px;
      color: var(--textColor);
      text-indent: 40px;
      background-color: var(--inputbackground);

      &:focus {
        border-radius: .3rem;
        border-color: var(--inputborder);
        outline-color: var(--inputborder);
        box-shadow: var(--primary);
      }
    }

    input {      
      &.error-input {
        border-color: var(--transactionOutgoing);
      }
    }

    &.textarea {
      svg {
        top: 9px;
        transform: none;
      }
    }

    p {
      margin-left: 48.5px;
    }

  }

  .add-to-favorites {
    color: rgb(117, 117, 117);

    &.checked {
      color: var(--transactionOutgoing);
    }
  }

  .button-div {
    text-align: center;

    button {
      margin: 0 auto;
      min-width: 50%;
      background-color: var(--primary);
      border: 1px solid var(--primary);
      color: var(--buttontext);

      span {
        margin-left: 10px;
        vertical-align: middle;
      }
    }
  }
  .number-msg {
    font-style: italic;
    opacity: .7;
    color: var(--primary);
    position: absolute;
    top: -30px;
  }
  .error-text {
    font-size: 12px;
    color: var(--transactionOutgoing);
  }
  .favorites {
    width: 100%;
    overflow-x: scroll !important;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    .favorite-btn {
      margin: 0;
      white-space: nowrap;
      margin-right: 10px;
      border: 2px solid var(--primary);
      background: var(--background);
      border-radius: 1000px;
      color: var(--primary)
    }
  }
}