.my-account {
  .list-item {
    list-style-type: none;
    padding: 0px;
    @media (min-width: 568px) {
      display: grid;
      justify-content: center;
    }
    li {
      svg {
        color: var(--inputIcon);
      }
      // margin-bottom: 20px;
      .header,
      .bottom-header {
        margin-left: 15px;
        margin-right: 5px;
        vertical-align: super;
        display: inline-grid;
        margin-bottom: 20px;
        color: var(--textColor);
        font-weight: bold;
        .info {
          font-weight: lighter;
          display: inline-block;
          font-size: 18px;
          word-break: break-all;
          @media (min-width: 568px) {
            flex: content;
          }
        }
      }
      .bottom-header {
        margin-bottom: 0;
      }
    }
  }
}
.icon {
  height: 30px;
  width: 30px;
  @media (min-width: 568px) {
    margin: 12px;
  }
}
.btn-icon {
  padding-left: 12px;
  height: 30px;
  width: 30px;
}
.edit {
  background-color: var(--primary);
  border: none;
  padding: 0.375rem 0rem;
  border-radius: 4px;
  color: var(--background);
  text-align: center;
  width: 172px;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  @media (min-width: 576px) {
    margin-left: 15px;
    margin-right: 15px;
    display: inline-block;
  }
}

.deactivate-container {
  h2.deactivate-heading {
    padding: 1rem;
    text-align:center;
    margin: 0;
   }


   .modal-body{
     text-align: center;
   }

  .deactivate-confirm {
    background-color: #07575b;
    margin-right: 1rem;
    color: #eee;
  }

  .deactivate-cancel {
    background: red;
    color: #eee;
  }
}