.add-favorite-container {
  .form-control {
    border: 1px solid black !important;
  }
  .primary-btn {
      width: 100% !important;
      background-color: var(--testbutton);
      color: var(--testbuttontext);
  }
}
