.add-favorite-container {
  .modal-content{
    background-color: var(--modalbackground);
  }
  .modal-header{
    color: var(--modalheader)
  }
  .primary-btn {
      width: 100% !important;
      background-color: var(--modalbutton);
      color: var(--modalbuttontext);
  }
  .input-field {
    width: 100%;
    margin-bottom: 10px;
    color: var(--modalheader);
    border-bottom: 2px solid var(--modalinputborder);
    &:focus {
      color: var(--modalheader);
      outline: none;
      border-bottom: 2px solid var(--modalinputborder);

      &::placeholder {
        color: var(--modaltext);
      }
    }
  }

  .error-text{
    color:red;
  }
}
