html {
  body .App {
    color: var(--textColor);
    background-color: var(--background);
    display: flex;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: $vh;
    flex-direction: column;
    header {
      position: relative;
    }
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: "Roboto", sans-serif;
    main {
      flex: 1;
      & > div {
        padding-top: 60px;
        padding-bottom: 60px;
        height: calc(calc(var(--vh, 1vh) * 100) - var(--headerHeight));
        overflow-y: scroll;
      }
      h2.page-title {
        color: var(--textColor);
        margin: 0;
        margin-bottom: 80px;
        font-weight: bold;
        text-align: center;
      }
      p.page-info {
        position: relative;
        opacity: 0.7;
        text-align: center;
        top: -20px;
      }
    }
    p {
      margin: 0;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Montserrat", sans-serif;
    }
    .primary-btn,
    .secondary-btn {
      margin: 0 auto;
      width: 100%;
      padding: 10px;
      border-radius: 4px;
      &:active {
        opacity: 0.8;
      }
      &:focus {
        outline: none;
      }
    }
    .primary-btn {
      border: none;
      background-color: var(--primary);
      color: var(--background);
    }
    .secondary-btn {
      background-color: transparent;
      border: 1px solid var(--primary);
      color: var(--primary);
    }
  }
}
