* {
  margin: 0;
  padding: 0;
}
html {
  body .App {
    display: flex;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
    transition: .6s color;

    main {
      flex: 1;
      h2.page-title {
        color: var(--textColor);
      }
    }
  }
}
