.App {
  --textColor: #333;
  --textColorContrast: #07575b;
  --background: #eee;
  --primary: #07575b;
  --headerBackground: #003b46;
  --transactionBackground: #fff;
  --transactionPreviewBackground: #fff;
  --transactionBackgroundShadow: #666;
  --transactionIncoming: #003b46;
  --transactionOutgoing: #f02727;

  &.dark-mode {
    --textColor: #eee;
    --textColorContrast: #eee;
    --background: #393e46;
    --primary: #4ecca3;
    --headerBackground: #232931;
    --transactionBackground: rgb(27, 27, 27);
    --transactionPreviewBackground: #232931;
    --transactionBackgroundShadow: #333;
    --transactionIncoming: #4ecca3;
    --transactionOutgoing: #f02727;

  }
}


.App {
  color: var(--textColor);
  background-color: var(--background);
  h1 {
    color: var(--textColor);
    background-color: var(--background);
  }
}
