.App {
  --textColor: #333;
  --textColorContrast: #07575b;
  --background: #eee;
  --primary: #07575b;
  --secondary: #C4DFE6;
  --headerBackground: #003b46;
  --transactionBackground: #fff;
  --transactionPreviewBackground: #fff;
  --transactionBackgroundShadow: #666;
  --transactionIncoming: #003b46;
  --transactionOutgoing: #f02727;
  --inputBackground: #fff;
  --inputBorder: #ced4da;
  --inputIcon: #757575;
  --buttonText: #eee;
  --mainHeight: calc(calc(var(--vh, 1vh) * 100) - 44px);

  &.dark-mode {
    --textColor: #eee;
    --textColorContrast: #eee;
    --background: #393e46;
    --primary: #4ecca3;
    --secondary: #4ecca3;
    --headerBackground: #232931;
    --transactionBackground: rgb(27, 27, 27);
    --transactionPreviewBackground: #232931;
    --transactionBackgroundShadow: #333;
    --transactionIncoming: #4ecca3;
    --transactionOutgoing: #f02727;
    --inputBackground: #393e46;
    --inputBorder: #4ecca3;
    --inputIcon: #4ecca3;
    --buttonText: #393e46;
  }
}

$vh: calc(var(--vh, 1vh) * 100);