.App {
  --textColor: #333;
  --textColorContrast: #07575b;
  --background: #eee;
  --primary: #07575b;
  --secondary: #C4DFE6;
  --headerBackground: #003b46;
  --transactionBackground: #fff;
  --transactionPreview: #fff;
  --transactionPreviewBackground: #fff;
  --transactionBackgroundShadow: #666;
  --transactionIncoming: #003b46;
  --transactionOutgoing: #f02727;
  --invalidInput: #f02727;
  --inputBackground: #fff;
  --inputBorder: #ced4da;
  --inputIcon: #757575;
  --buttonText: #eee;
  --mainHeight: calc(calc(var(--vh, 1vh) * 100) - 44px);
  --buttonprimary: #003b46;
  --buttontext: #c4dfe6;
  /* --inputborder: #393e46; */
  --inputborder: #ced4da;
  --inputbackground: #fff;
  --inputplaceholder: #495057;
  --inputtext: #232931;
  --linkcolor: #0000EE;

  &.dark-mode {
    --textColor: #eee;
    --textColorContrast: #eee;
    --background: #393e46;
    --primary: #4ecca3;
    --secondary: #4ecca3;
    --headerBackground: #232931;
    --transactionBackground: #232931;
    --transactionPreview: #121212;
    --transactionPreviewBackground: #232931;
    --transactionBackgroundShadow: #333;
    --transactionIncoming: #4ecca3;
    --transactionOutgoing: #f02727;
    --inputIcon: #4ecca3;
    --buttonprimary: #4ecca3;
    --buttontext: #232931;
    --inputborder: #4ecca3;
    --inputbackground: #232931;
    --inputplaceholder: #fff;
    --inputtext: #fff;
    --linkcolor: #4ecca3;
  }
}

.modal-open{
  --modalbackground: #eee;
  --modalbutton: #07575b;
  --modalbuttontext: #c4dfe6;
  --modalheader: #333;
  --modalinputborder: #393e46;
  --modalinputbk: #fff;
  --modaltext: #eee;
  .dark-mode{
    //Modal
    --modalbackground: #393e46;
    --modalbutton: #4ecca3;
    --modalbuttontext: #232931;
    --modalheader: #fff;
    --modaltext: #eee;
    //Input
    --modalinputborder: #4ecca3;
    --modalinputbk: #393e46;

  }
}

$vh: calc(var(--vh, 1vh) * 100);