.qna-content {
  box-shadow: 0 0 3px 0 var(--transactionBackgroundShadow);
  .qna-icon {
    float: left;
  }
  .text-style {
    padding-left: 32px;
  }
}
.question-content {
  background-color: var(--transactionPreviewBackground);
  color: var(--textColor);
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  svg {
    color: var(--primary);
  }
}
.answer-content {
  padding: 10px;
  overflow: hidden;
  color: #333;
  background-color: var(--secondary);
  font-size: 15px;
}
