.trans-history {
  .tab-select {
    border: 3px solid var(--primary);
    box-shadow: 0 0 3px 0 var(--transactionBackgroundShadow);
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto 3rem;
    &:nth-of-type(1) {
      border-left: none !important;
    }
    .items {
      box-shadow: inset 0 0 3px 0 var(--transactionBackgroundShadow);

      border-radius: 0;
      flex: 1;
      text-align: center;
      border-left: 3px solid var(--primary);
      transition: 0.3s background-color, 0.3s color;
      .nav-link {
        padding: 0.5rem 0rem;
        color: var(--textColor);
        cursor: pointer;
      }
      .active {
        box-shadow: none;

        flex: 1;
        font-weight: bold;
        color: var(--background);
        height: 100%;
        border-radius: 0;
        border: 2px solid var(--primary);
        background-color: var(--primary);
        transition: 0.3s background-color, 0.3s color;

        :hover {
          background-color: var(--primary)§;
          color: var(--textColor);
        }
      }
    }
  }
}
