.transaction {
  .card {
    border: none;
    border-radius: 2px;
    background-color: var(--transactionBackground);
    box-shadow: 0 0 3px 0 var(--transactionBackgroundShadow);
    .card-body {
      padding: 0;
      text-align: center;
      .name,
      .phone,
      .message {
        color: var(--textColorContrast);
        font-size: 25px;
      }
      .name {
        font-weight: bold;
      }
      .date {
        opacity: 0.7;
        font-style: italic;
        font-size: 18px;
      }
      .message {
        font-style: italic;
      }
      .amount,
      .outgoing {
        font-size: 25px;
      }
      .amount, .incoming {
        color: var(--transactionIncoming);
        font-size: 25px;
      }
      .outgoing {
        color: var(--transactionOutgoing);
      }
    }
  }
  .back-btn {
    float: right;
    background-color: var(--transactionIncoming);
    color: var(--background);
    width: 56px;
    height: 56px;
    border: none;
    border-radius: 50%;
    padding: 0;
  }
}
