.Favorite-user {
  padding: 1rem 5rem !important;
}

.newFavorite {
  background-color: var(--buttonprimary);
  color: var(--buttontext);
  padding: 0.25rem 3rem;
  border: none;
}

.bg-test {
  padding: 1rem;
  background-color: var(--background);
  border: 1px solid var(--primary);
  border-radius: 1px;
}

.nickname, .phonenr {
  color: var(--textColor);
  padding-left: 1rem;
}
