.transaction-card {
  text-align: left;
  padding: 5px 15px;
  background-color: var(--transactionBackground);
  height: 70px;
  box-shadow: 0 0 3px 0 var(--transactionBackgroundShadow);
  border-radius: 2px;
  .trans-date {
    font-size: 12px;
    font-style: italic;
    opacity: 0.7;
    margin-top: 5px;
  }
  .trans-name {
    font-size: 16px;
    color: var(--textColorContrast);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .trans-amount {
    padding-right: 20px;
    text-align: right;
    color: var(--transactionIncoming);
    line-height: 60px;
    font-size: 15px;
  }
  .trans-arrow {
    text-align: right;
    color: var(--textColorContrast);
    line-height: 55px;
  }
  &.outgoing {
    .trans-amount {
      color: var(--transactionOutgoing);
    }
  }
}
