.link-button {
  margin: 1rem auto;
  display: block;
  width: 60%;
  height: 6%;
  outline: none;
  border: none;
  background-color: var(--primary);
  color: var(--background);
  font-size: 1rem;
  border-radius: 0.25rem;
  height: 50px;
  line-height: 50px;
}