.new-user-container {
  .save-button {
    background-color: var(--primary);
    border: none;
    border-radius: 4px;
    color: var(--background);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
  }
  .login-link {
    padding-left: 20px;
    color: var(--linkcolor);
  }
}
