.input-group {
  position: relative;
  .main-icon {
    position: absolute;
    left: 8px;
    top: 10px;
    height: 20px;
    width: 20px;
  }
  .input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
    text-indent: 35px;
    border: none;
    border-bottom: 1px solid var(--textColor);
    background-color: transparent;
    color: var(--textColor);
    &:focus {
      border: none;
      border-bottom: 1px solid var(--primary);
      &::placeholder {
        opacity: 0.7;
        color: var(--primary);
      }
    }
    &::placeholder {
      opacity: 0.5;
      color: var(--textColor);
    }
  }
}