.input-group {
  position: relative;
  .main-icon {
    position: absolute;
    left: 8px;
    top: 10px;
    height: 20px;
    width: 20px;
  }
  .peeker {
    position: absolute;
    right: 8px;
    top: 10px;
    height: 20px;
    width: 20px;
  }

  .input-register {
    text-indent: 35px;
    width: 100%;
    height: 38px;
    border: none;
    border-bottom: 1px solid var(--textColor);
    background-color: transparent;
    color: var(--textColor);
    &:focus {
      outline: none;
      border-bottom: 2px solid var(--primary);
      &::placeholder {
        opacity: 0.7;
        color: var(--textColor);
      }
    }
    &::placeholder {
      opacity: 0.5;
      color: var(--textcolor);
    }
  }
  .checkmark {
    display: none;
  }
  .checked {
    display: initial;
    color: red;
    position: absolute;
    right: 8px;
    top: 10px;
    height: 20px;
    width: 20px;
  }
  .green {
    color: green !important;
  }
  .error-text {
    font-size: 12px;
    color: var(--invalidInput);
    position: absolute;
  }
}
