.missing-page-container {
  .url-link {
    font-family: 'Montserrat', sans-serif;
    color: var(--primary);
    margin: 20px 0;
    font-weight: bold;
    background-color: #fff;
    padding: 10px;
    word-wrap: break-word;
  }
}