.payment-received-container{
  position: absolute;
  max-height: 10vh;
  width: 90vw;
  margin: 10px 5vw !important;
  z-index: 10000 !important;
  line-height: 10vh;
  overflow: hidden;
  padding: 0 !important;

  .payment-received-card{
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: var(--notificationText);
    background-color: var(--secondary) !important;
    border-radius: 0.25rem;
    box-shadow: 0 0 3px 0 var(--transactionBackgroundShadow);
  }
}
