.payment-received-container{
  position: absolute;
  height: 10vh !important;
  width: 90vw;
  margin: 10px 5vw !important;
  background: gray;
  z-index: 10000 !important;
  text-align: center;
  font-size: 1rem;
  line-height: 10vh;
}